* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial,
    Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tree {
  position: relative;
}

.old-tree {
  /* margin-top: 5px; */
  /* uncomment ^ this ^ to verify any misalignment should be apparent */
  opacity: 0.5;
  position: absolute;
}

.node .children {
  margin: 1rem 0 1rem 2.2rem;
}

.node .value {
  opacity: 0.8;
  display: block;
}